.card {
  margin-bottom: 25px;
  display: flexbox;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 20px;
}

.card > img {
  width: 100%;
}

.card-title {
  font-size: 25px;
  padding: 10px;
}

.card-desc {
  font-size: 15px;
  padding: 10px;
}
